<!DOCTYPE html>
<html>
    <head>
        <link href="../static/style.css" rel="stylesheet">
        <title>Lista Spese</title>
    </head>
    <body>
        <div class="container">
            <h1>Lista della Spesa</h1>
            {% if lista_spese %}
                <ul class="list-group">
                    {% for elemento in lista_spese %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h2>{{ elemento.elemento }}</h2>
                        <form action="/remove/{{elemento.id}}" method="post">
                            <button type="submit" class="btn-delete">Rimuovi</button>
                        </form> 
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                  <p><b>La lista è vuota.</b></p>
            {% endif %}
            <form action="/add" method="post">
                <div>
                    <label for="elemento" class="form-label"> <b>Aggiungi un prodotto:</b> </label>
                    <input type="text" name="elemento" id="product" placeholder="Es. Carne, Pasta, Pollo etc.">
                </div>
                <br>
                <button type="submit" class=" operazioni btn btn-success ">Aggiungi</button>
            </form>
            
            <form action="/delete" method="post">
                <button type="submit" class="operazioni btn btn-outline-danger ">Svuota Lista</button>
            </form> 
        </div>
    </body> 
</html>